/*
	Developer: Hafiz Faraz Mukhtar
	Blog:  	   http://blog.hfarazm.com/ 
	Contact:   http://www.fb.com/h.farazmukhtar/
	Liscense:  MIT license 2014
*/
* { 
	margin: 0px;
	padding: 0;
	font-family: 'PT Serif', serif;
	text-decoration: none;
}
body {
	background: rgb(240,240,240);
}

.search {
	color:white;
	padding: 10px 15px;

}
.main {
	width: 550px;
	margin: 50px auto auto;
	background-color: #39008D;
	border-radius: 10px;
	box-shadow: 0px 0px 0px 10px rgba(0, 204, 0, 1);


	background: #170056; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MDA1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTAwOGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  black 0%, black); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,black), color-stop(100%,black)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  black 0%,black 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  black 0%,black 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  black 0%,black 100%); /* IE10+ */
	background: linear-gradient(to bottom,  black 0%,black 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='black', endColorstr='black',GradientType=0 ); /* IE6-8 */


	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	-o-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
}

input {
	padding: 0px 10px;

	border: solid 0px;
	margin: 7px 3px;
	margin-right: 10px;
}
select, option {padding: 0px 5px;}
.itemHolder {
	width: 510px;
	border-radius: 0px;
	//box-shadow: 0px 13px 14px rgba(1, 30, 0, 0.8);
	float: left;
	padding: 10px 20px;
	margin-bottom: 0px;
	list-style: none outside none;
	margin-left: 0px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, #000 17%, #111 35%, #000 49%, #2C2C2C 50%, rgba(0, 101, 105, 1) 61%, rgba(0, 9, 105, 1) 100%) repeat scroll 0% 0% transparent;
	margin-top: -8px;

	background: #000000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzExMTExMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzQ3NDc0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #000000 0%, #000000 17%, #111111 35%, #000000 49%, #2c2c2c 50%, #474747 61%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(17%,#000000), color-stop(35%,#111111), color-stop(49%,#000000), color-stop(50%,#2c2c2c), color-stop(61%,#474747), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#000000 17%,#111111 35%,#000000 49%,#2c2c2c 50%,#474747 61%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#000000 17%,#111111 35%,#000000 49%,#2c2c2c 50%,#474747 61%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#000000 17%,#111111 35%,#000000 49%,#2c2c2c 50%,#474747 61%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#000000 17%,#111111 35%,#000000 49%,#2c2c2c 50%,#474747 61%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */

	-webkit-transition: all 0.1s ease-out 0s;
	-moz-transition: all 0.1s ease-out 0s;
	-o-transition: all 0.1s ease-out 0s;
	transition: all 0.1s ease-out 0s;
}
.itemHolder:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

img {
	width: 53px;
	border-radius: 10px;
	border: solid 2px rgb(48, 51, 48);
	float: left;
	margin-right: 15px;
	padding: 5px;
	background-color: white;
}
.details {
	padding: 25px;
}
h3 span {
	float: right;
	cursor: pointer;
}
.longDescription {
	margin-top: 25px;
	text-align: justify;
}
.reviewContainer {
	background-color: rgba(47, 47, 47, 1);
	clear: both;
	border-radius: 5px 5px 0px 0px;
	margin-top: 20px;
	border-top: solid 1px rgba(170, 170, 170, 1);
	overflow: hidden;
}
.addReviewLink {
	float:left;
}
.uReview {
	margin-top: 0px;
	text-align: justify;
	border-bottom: 2px dashed #232323;
	color: #FFF;
	padding: 5px 15px 10px;
	clear: both;
	  
	 -webkit-transition: all 0.1s ease-out 0s;
	-moz-transition: all 0.1s ease-out 0s;
	-o-transition: all 0.1s ease-out 0s;
	transition: all 0.1s ease-out 0s;

}
.uReview:hover {
	background-color: green;
}
.uReview h3 {
	padding-bottom: 0px;
}
.reviewContainer a {
	background-color: #AAA;
	width: 100%;
	clear: both;
	float: left;
	padding: 2px 0px 2px 15px;
	font-weight: bold;
	font-style: italic;
	color: rgba(27, 27, 27, 1);
}
.reviewContainer a:hover {
	background-color: white;
	cursor: pointer;
}
.reviewForm {
	padding: 10px 15px;
	margin: auto;
	background-color: rgba(216, 216, 216, 1);

	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
}
.reviewForm select, .reviewForm textarea, .reviewForm input {
	clear: both;
	border: solid 1px silver;
}
.reviewForm textarea {
	width: 97%;
	height: 63px;
	padding: 6px;
}
.reviewForm div button {
	padding: 3px 9px;
	border-radius: 0px;
	border: 0px solid;
	margin: 0px;
	font-size: 15px;
	float: right;
	background-color: rgba(171, 171, 171, 1);
	border-top: solid 1px;
}
.reviewForm div button:hover {
	background-color: rgb(6,179,6);
	color: white;
	cursor: pointer;
}
.magnifyImg {
	width: 67px;
}
h2 {
	color: rgb(35,200,0);
	padding-bottom: 6px;
	text-transform: uppercase;
	margin-top: 10px;
}
h3 {
	color: rgb(35,200,0);
	padding-bottom: 6px;
}

p {
	margin-top: 8px;
	font-size: 13px;
	color: rgb(240,240,240);
}

h1{
	border-bottom: solid 1px rgb(30,173,0);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
label {
	font-size: 16px;
	margin-right: 10px;
}

button {
	padding: 5px;
	border-radius: 5px;
	border: solid 0px;
	margin: 10px;
	font-size: 16px;
	float: right;
}
.developer {
	position: fixed;
	top: 0px;
	left: 0%;
	font-size: 15px;
	margin: auto;
	border-bottom: 0px solid #000;
	padding: 4px 12px;
	background-color: #FFF;
	border-bottom-right-radius: 5px;
	color: #000;
	border-top: 3px solid #00E300;
	width: 100%;
	text-align: center;
}
.developer:hover {
	background-color: black;
	color: white;
}
.rightPrice {
	float: right;
	margin-top: -31px;
	padding: 2px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 17px;
	color: #23C800;
}
.rightDate {
	float: right;
	margin-top: -25px;
	margin-right: 50px;
	color: rgba(68, 68, 68, 1);
}
.magnifyPrice {
	font-size: 33px;
	margin-right: -98px;
	background-color: #0c0;
	padding: 7px;
	color: rgba(255, 255, 255, 1);
}
.magnifyDate {
	margin-right: 0px;
}
.link {
	color: grey;
}
.link:hover {
	color: white;
}
.navigation {
	margin: 15px 0px -10px;
	clear: both;
	border-top: solid 1px rgb(28, 28, 28);
	padding-top: 10px;
	margin-top: 23px;
}
.navigation a {
	background-color: rgba(171, 171, 171, 1);
	border-radius: 4px;
	padding: 3px 7px;
	color: rgba(0, 0, 0, 1);
	font-size: 12px;
	font-weight: bold;
}
.navigation a:hover, .tab ul li:hover {
 background-color: white;
 color: rgb(6,179,6);
}
.navigation a:last-child {
	float: right;
}
.checkout {
	float: right;
	background-color: #0C0;
	color: #FFF;
	border-radius: 4px;
	padding: 8px 16px;
	margin-top: -6px;
	font-weight: bold;
}
.checkout:hover{
	background-color: white;
	color: #0C0;
}
.ng-enter, .ng-leave, .ng-hide, .ng-show {
	opacity: 0;
	height: 0px;
}
.ng-enter-active .ng-leave-active{
	opacity: 1;
}
.tab {
	margin: 10px 0px;
	width: 100%;
	float: left;
}
.tab ul li {
	background-color: rgb(234, 234, 234);
	padding: 5px 10px;
	float: left;
	margin-left: 2px;
	list-style: none;
	
}
.tab ul li:nth-child(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.tab ul li:nth-child(3) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab ul li a {
	color: rgb(6,179,6);
	float: left;
	text-decoration: none;
}
.tab ul .active {
	background-color: rgb(6,179,6);
	padding: 5px 10px;
	float: left;
	margin-left: 2px;
	list-style: none;
}
.tab ul .active:nth-child(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.tab ul .active:nth-child(3) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab ul .active a {
	color: white;
	float: left;
	text-decoration: none;
}
.tab ul .active:hover a {
	color: rgb(6,179,6);
}
.panel { 
	background-color: red;height: 200px;
}
.ng-invalid.ng-dirty {
	border-color: red;
	box-shadow: 0px 0px 2px red;
}
.ng-valid.ng-dirty {
	border-color: #06B306;
	box-shadow: 0px 0px 2px #06B306;
}