
/* Global Styles */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

body {
    background-color: #eeeeee;
}

h4,h3 {
    color: #666666;
}

#container {
    width: 100%;
}

.breadcrumb {
    background-color: transparent;
    color: #999999;
    padding: 15px 0 0 3px;
    margin-bottom: 0;
}

.wall-container {
    background-color: #fff;
    border-radius: 3px;
}

#list-products .item {
    height: 228px;
}

#list-products .product-image {
    width: 180px;
    height: 180px;
    float: left;
    padding: 21px 17px 17px 17px;
    box-sizing: content-box;
}

#list-products .product-image img {
    border-radius: 3px;
}

#list-products .data-product {
    float: left;
    width: 715px;
    height: 180px;
    padding: 21px 17px 17px 0;
    box-sizing: content-box;
}

#list-products .product-price {
    margin-bottom: 14px;
}

#list-products .product-price h3 {
    float: left;
}

#list-products .is-deliverable {
    width: 50px;
    height: 50px;
    display: inline-flex;
    padding: 12px 12px 9px 12px;
    background-image: url(../assets/ic_shipping.png);
    background-repeat: no-repeat;
    background-position: 13px;
}

#list-products .product-title {
    float: left;
    width: 590px;
}

#list-products .product-location {
    font-size: 12px;
    color: #666666;
}

#product .product-detail-container {
    height: 670px;
}

#product .picture-container {
    padding: 10px;
    width: 704px;
    float: left;
}

#product .data-product-detail .buy-product button {
    border-radius: 4px;
    width: 247px;
    height: 46px;
    border: none;
    color: #fff;
    background-color: #3483fa;
    font-size: 18px;
}

#product .data-product-detail .sold-products {
    padding-top: 32px;
}

#product .title-product {
    font-size: 24px;
    font-weight: bold;
}

#product .price-product {
    font-size: 46px;
    padding-top: 7px;
    margin-bottom: 41px;
}

/* Header Styles */

header {
    background-color: #FFE600;
    height: 56px;
}

#header-container {
    height: 32px;
    width: 1008px;
    margin: auto;
}

.logo-container {
    padding: 10px 26px;
    width: 105px;
    float: left;
}

.input-container {
    padding-top: 15px;
}

.input-container input {
    width: 840px;
    height: 32px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
}

.input-container input:focus {
    outline: none;
}

.input-container button {
    position: absolute;
    width: 41px;
    height: 32px;
    background-image: url(../assets/ic_Search.png);
    background-repeat: no-repeat;
    background-color: snow;
    border: none;
    border-radius: 3px;
    background-position: 12px;
}

/* Content Styles */

#content {
    width: 960px;
    margin: auto;
    background-image: url(../assets/02_Detalle.png);
    height: 1000px;
}