#item-a{
width:50px;
height:50px;
background-color:black;
position:absolute;
left:150px;
top:535px;
}

#item-b{
width:50px;
height:50px;
background-color:black;
position:absolute;
left:210px;
top:535px;
}

#item-c{
width:50px;
height:50px;
background-color:black;
position:absolute;
left:270px;
top:535px;
}

#item-d{
width:50px;
height:50px;
background-color:black;
position:absolute;
left:330px;
top:535px;
}

.image-a{
width: 100px;
height: 100px;
background-color: red;
position: absolute;
}
.image-b{
width: 100px;
height: 100px;
background-color: yellow;
position: absolute;
left: 100px;
}
.image-c{
width: 100px;
height: 100px;
background-color: green;
position: absolute;
left: 200px;
}
.image-d{
width: 100px;
height: 100px;
background-color: blue;
position: absolute;
left: 300px;
}

.inline{
float: left;
}

#main-container{
width: 400px;
height: 400px;
position: absolute;
top: 106px;
left: 59px;
border: 1px solid #ddd;
overflow: hidden;
}

#container{
width:400px;
height:100px;
position:relative;
}

.animate-a {
	-webkit-animation:myfirst 1s forwards; 
	animation:myfirst 1s forwards;
}

.animate-b {
	-webkit-animation:mysecond 1s forwards; 
	animation:mysecond 1s forwards;
}

.animate-c {
	-webkit-animation:mythird 1s forwards; 
	animation:mythird 1s forwards;
}

.animate-d {
	-webkit-animation:myforth 1s forwards; 
	animation:mmyforth 1s forwards;
}

.animate-e {
	-webkit-animation:myfifth 1s forwards; 
	animation:mmyforth 1s forwards;
}

.animate-f {
	-webkit-animation:mysixth 1s forwards; 
	animation:mmyforth 1s forwards;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
	0%   {left:0px;}
	100% {left:-100px;}
}

/* Standard syntax */
@keyframes myfirst {
	0%   {left:0px;}
	100% {left:-100px;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mysecond {
	0%   {left:-100px;}
	100% {left:-200px;}
}

/* Standard syntax */
@keyframes mysecond {
	0%   {left:-100px;}
	100% {left:-200px;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mythird {
	0%   {left:-200px;}
	100% {left:-300px;}
}

/* Standard syntax */
@keyframes mythird {
	0%   {left:-200px;}
	100% {left:-300px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myforth {
	0%   {left:-300px;}
	100% {left:-200px;}
}

/* Standard syntax */
@keyframes myforth {
	0%   {left:-300px;}
	100% {left:-200px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfifth {
	0%   {left:-200px;}
	100% {left:-100px;}
}

/* Standard syntax */
@keyframes myfifth {
	0%   {left:-200px;}
	100% {left:-100px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mysixth {
	0%   {left:-100px;}
	100% {left:0px;}
}

/* Standard syntax */
@keyframes mysixth {
	0%   {left:-100px;}
	100% {left:0px;}
}