#game {
  position:absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  border: 1px solid red;
  overflow: hidden;
  cursor: none;
}

.start {
  position: absolute;
  z-index: 9999;
}

.hideElements {
  display:none;
}

#vida-personaje {
  position: absolute;
  z-index: 99999;
  color: #fff;
  right: 20px;
}

.piedra {
  width: 66px;
  height: 73px;
  background-image: url("../images/rock.png");
  background-position-x: -31px;
  background-position-y: -27px;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-animation: spinAndMove 12s linear;
  -moz-animation: spinAndMove 12s linear;
  animation: spinAndMove 12s linear;
}

#piedra-a {
  top: 250px;
  left: 1250px;
}

#background-moving {
  background-image: url("../images/space.png");
  background-repeat-y: no-repeat;
  height: 100%;
  background-size: 3000px;
  width: 4000px;
  position: relative;
}

.start-moving {
  -webkit-animation: moveSpace 5s linear;
  -moz-animation: moveSpace 5s linear;
  animation: moveSpace 5s linear;
}

.spaceshipClass {
  cursor: none;
  width: 139px;
  height: 75px;
  background-image: url("../images/spaceship.gif");
  background-position-x: -6px;
  background-repeat: no-repeat;
  position: absolute;
  top: 298px;
  left: 100px;
  z-index: 10000;
}

.energyObject {
  position: absolute;
  top: 200px;
  left: 700px;
  width: 77px;
  height: 88px;
  background-repeat: no-repeat;
  background-image: url("../images/thunder.png");
  background-size: 78px;
  -webkit-animation: justMove 12s linear;
  -moz-animation: justMove 12s linear;
  animation: justMove 12s linear;
}

.shieldObject {
  position: absolute;
  width: 81px;
  height: 100px;
  top: 700px;
  left: 1045px;
  background-image: url("../images/shield.png");
  background-size: 81px;
  background-repeat: no-repeat;
  -webkit-animation: justMove 12s linear;
  -moz-animation: justMove 12s linear;
  animation: justMove 12s linear;
}

.explode {
  background-image: url("../images/explosion.gif");
  z-index: 999999;
  background-position-x: 38px;
  background-position-y: 1px;
  height: 200px;
  width: 200px;
  background-size: 125px;
  background-repeat: no-repeat;
  position: absolute;
  cursor: none;
}

.showShieldInSpaceship {
  background-image: url("../images/eye.gif");
  background-size: 149px;
  background-position-x: -6px;
  height: 110px;
  background-position-y: -34px;
  opacity: 0.5;
}

/* --  animation  -- */

/* Move Space */

@-webkit-keyframes moveSpace {
  0% {
    left:0px;
  }
  100% { 
    left:-400px;
  } 
}

@keyframes moveSpace {
  0% {
    left:0px;
  }
  100% { 
    left:-400px;
  } 
}


/* Move Objects */

@-moz-keyframes justMove { 
  50% {
    left:-200px;
  }
  100% { 
    left:-400px;
  } 
}

@-webkit-keyframes justMove { 
  50% {
    left:-200px;
  }
  100% { 
    left:-400px;
  } 
}

@keyframes justMove { 
  100% { 
    left:-200px;
  } 
  100% { 
    left:-400px;
  } 
}


/* Spin and move Objects */

@-moz-keyframes spinAndMove { 
  50% {
    left:-200px;
    -moz-transform: rotate(360deg); 
  }
  100% { 
    left:-400px;
    -moz-transform: rotate(360deg); 
  } 
}

@-webkit-keyframes spinAndMove { 
  50% {
    left:-200px;
    -webkit-transform: rotate(360deg); 
  }
  100% { 
    left:-400px;
    -webkit-transform: rotate(360deg); 
  } 
}

@keyframes spinAndMove { 
  100% { 
    left:-200px;
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
  100% { 
    left:-400px;
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}