table#cmeSearchFilterResults {
    width: 100%;
}

.cmeResultListing > tbody tr:nth-child(even) {
    background: #F8F8F8;
}

.cmeResultListing > tbody tr:nth-child(odd) {
    background: #e4e4e4;
}

#cmeSearchFilterResults td {
    border: none;
    overflow: hidden;
    padding: 10px;
}
