<!DOCTYPE html>
<head>
	<title>Learning AngularJS</title>
	<script src="angular.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
	<script src="maincontroller.js" type="text/javascript"></script>
	<script src="secondcontroller.js" type="text/javascript"></script>
</head>
<body>
	<div id='content' ng-app='MyTutorialApp' ng-controller='MainController'>

		{{understand}}

		<label for="name">
			<input id="name" type="text" ng-model="name"/> 
		</label>

		<h2 changeColor>Hello {{ name }} </h2>
		<ul>
			<li ng-repeat="person in recipe">
				{{ person.name }} {{ person.value }}
			</li>
		</ul>

		<div ng-controller="secondController">

			<label for="name">
				<input id="name" type="text" ng-model="name"/> 
			</label>
			<h2>Child controller {{ name }} </h2>

			<label for="name">
				<input id="name" type="text" ng-model="$parent.name"/> 
			</label>
			<h2>Parent Controller {{ $parent.name }} </h2>

			<input id="name" type="text" ng-model="value1"/> 
			<input id="name" type="text" ng-model="value2"/> 

			<button ng-click="calculate()">Calculate</button>

			<div>{{ total }}</div>

		</div>

		<section ng-show="showandhide">
			<h3>This is showned</h3>
		</section>

		<section ng-hide="showandhide">
			<h3>This is hidden</h3>
		</section>

		<section ng-if="!showandhide">
			<h3>This is hidden</h3>
		</section>
		<div ng-include="'list.html'"></div>

		<div ng-switch on="someValue">
			<div ng-switch-when="1">This is 1</div>
			<div ng-switch-when="2">This is 2</div>
			<div ng-switch-default>This is 3</div>
		</div>

	</div>


</body>
</html>