<div>
	<footer>
		<div class="footer-wrapper">
			<div class="sections">
				<ul>
					<a href="../index.html">
						<li class="content-footer">HOME</li>
					</a>
					<li>|</li>
					<a href="../pages/spaces.html"">
						<li class="content-footer">ESPACIOS</li>
					</a>
					<li>|</li>
					<a href="../pages/event-search.html"">
						<li class="content-footer">EVENTOS</li>
					</a>
					<li>|</li>
					<a href="../pages/services.html"">
						<li class="content-footer">SERVICIOS</li>
					</a>
					<li>|</li>
					<a href="../pages/news.html"">
						<li class="content-footer">NOTICIAS</li>
					</a>
					<li>|</li>
					<a href="../pages/institutional.html">
						<li class="content-footer">INSTITUCIONAL</li>
					</a>
					<li>|</li>
					<a href="../pages/city.html">
						<li class="content-footer">LA CIUDAD</li>
					</a>
				</ul>
			</div>
			<div class="social-footer">
				<div class="contact-social">
					<a href="http://cec.portinos.com/la-ciudad/">
						<img src="../img/dist/vectors/page-1-black.svg" alt="mapa">
					</a>
					<a href="http://cec.portinos.com/contacto/">
						<img src="../img/dist/vectors/sobre-black.svg" alt="sobre">
					</a>
					<a href="https://www.facebook.com/CENTRO-DE-CONVENCIONES-BUENOS-AIRES-747719452005225/" target="_blank">
						<img src="../img/dist/vectors/fill-42-black.svg" alt="facebook">
					</a>
					<a href="https://instagram.com/cec.bsas" target="_blank">
						<img src="../img/dist/vectors/instagram-black.svg" alt="instagram">
					</a>
					<a href="https://twitter.com/CEC_BsAs" target="_blank">
						<img src="../img/dist/vectors/fill-44-black.svg" alt="twitter">
					</a>
				</div>
			</div>
			<div class="legal">
				Av. Figueroa Alcorta 2099
			</div>
		</div>
	</footer>
	<div class="address">
		<div class="address-container">
			2018 © Todos los derechos reservados
		</div>	
	</div>
</div>