<div>
	<header>
		<div class="header-wrapper">
			<div class="menu-icon">
				<img src="../img/dist/vectors/ic-menu-black-24-px.svg" alt="menu">
			</div>
			<div class="home-icon">
				<a href="../index.html">
					<img src="../img/dist/vectors/home-icon.svg" alt="home">
				</a>
			</div>
			
			<div class="translate">
				<!-- https://translate.google.com/manager/website/ -->
				<div id="google_translate_element"></div><script type="text/javascript">
					function googleTranslateElementInit() {
					  new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,es,fr,it,nl,pt,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
					}
				</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
				<div class="custom-icons">
					<div class="icon-translate">
						<img src="../img/dist/vectors/translator-icon.svg">
					</div>
					<div class="icon-arrow rotateArrow">
						<img src="../img/dist/vectors/arrow-up-services.svg">
					</div>
				</div>
			</div>
			<div class="cec-logo">
				<a href="../index.html">
					<img src="../img/dist/vectors/logo-cec.svg" alt="logo">
				</a>
			</div>
			<div class="social">
				<div class="contact-social">
					<a href="http://cec.portinos.com/la-ciudad/">
						<img src="../img/dist/vectors/mapa.svg" alt="mapa">
					</a>
					<a href="http://cec.portinos.com/contacto/">
						<img src="../img/dist/vectors/sobre.svg" alt="sobre">
					</a>
					<a href="https://www.facebook.com/CENTRO-DE-CONVENCIONES-BUENOS-AIRES-747719452005225/" target="_blank">
						<img src="../img/dist/vectors/fill-42.svg" alt="facebook">
					</a>
					<a href="https://instagram.com/cec.bsas" target="_blank">
						<img src="../img/dist/vectors/instagram.svg" alt="instagram">
					</a>
					<a href="https://twitter.com/CEC_BsAs" target="_blank">
						<img src="../img/dist/vectors/fill-44.svg" alt="twitter">
					</a>
				</div>
				<div class="search">
					<button class="button-search">
							<img src="../img/dist/vectors/ic-search-white-24-px.svg">
					</button>
					<div class="magnifier-glass">
						<img src="../img/dist/vectors/ic-search-black-24-px.svg">
					</div>
					<input type="text" name="search" placeholder="Buscar">
				</div>
			</div>
		</div>
	</header>
</div>