<div>
	<div class="close-menu">
		<img src="../img/dist/pictures/close-menu.svg" alt="image-close">
	</div>
	<div class="translate translate-mobile"></div>
	<ul>
		<li><a href="../pages/spaces.html">ESPACIOS</a></li>
		<li><a href="../pages/event-search.html">EVENTOS</a></li>
		<li><a href="../pages/services.html">SERVICIOS</a></li>
		<li><a href="../pages/news.html">NOTICIAS</a></li>
		<li><a href="../pages/institutional.html">INSTITUCIONAL</a></li>
		<li><a href="../pages/city.html">LA CIUDAD</a></li>
	</ul>

	<div class="contact-social contact-social-mobile">
		<img src="../img/dist/vectors/mapa.svg" alt="mapa">
		<a href="../pages/contact.html"><img src="../img/dist/vectors/sobre.svg" alt="sobre"></a>
		<img src="../img/dist/vectors/fill-42.svg" alt="facebook">
		<img src="../img/dist/vectors/instagram.svg" alt="instagram">
		<img src="../img/dist/vectors/fill-44.svg" alt="twitter">
	</div>

</div>