<div>
	<div id="google_translate_element_mobil"></div><script type="text/javascript">
		function googleTranslateElementInitMobil() {
		  new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,es,fr,it,nl,pt,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element_mobil');
		}
	</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInitMobil"></script>
	<div class="custom-icons">
		<div class="icon-translate">
			<img src="img/dist/vectors/translator-icon.svg">
		</div>
		<div class="icon-arrow rotateArrow">
			<img src="img/dist/vectors/arrow-up-services.svg">
		</div>
	</div>
</div>
