h1, h2, h3, h4, h5, h6 {
    color: #d06600;
    font-family: "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: normal;
    text-rendering: optimizelegibility;
}

h4 {
    font-size: 16px;
    line-height: 20px;
}

body {
    font: normal 14px/18px helvetica, arial, sans-serif;
    background-color: #efefef;
    color: #333;
    text-align: left;
}

#cmeSearchFilterLeft {
    float: left;
    width: 26.32%;
    max-width: 259px;
}

#cmeSearchFilterLeftContent {
    background: #F8F8F8;
    padding: 10px;
    position: relative;
}

#cmeSearchFilterTitle, #cmeSearchFilterSearch, #cmeSearchFilterSort {
    margin-bottom: 20px;
}

#cmeSearchFilterResetTop {
    position: absolute;
    top: 10px;
    right: 10px;
}

.cmeButtonPrimary {
    color: #fff !important;
    background: #0195e7;
}

#cmeSearchFiltersSelected {
    padding: 5px 0px 0px 5px;
    border: solid 1px #CCCCCC;
    background: #FFFFFF;
    display: none;
    margin-bottom: 10px;
}

.cmeSearchFilter {
    clear: both;
    max-width: 984px;
    width: 100%;
}

#cmeSearchFilters h4 {
    color: #333333;
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: 5px;
    padding: 7px 0px 7px 2px;
    cursor: pointer;
}

ul.cmeCheckbox {
    margin-bottom: 15px;
    position: relative;
    zoom: 1;
    overflow: hidden;
}

ul.cmeCheckbox > li {
    padding: 5px;
    background: #FFFFFF;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 0px 3px 0px !important;
    overflow: hidden;
}

ul.cmeCheckbox > li.cmeCheckboxSelectAll > label {
    font-weight: bold;
}

[class^="cmeIcon-"]:before, [class*=" cmeIcon-"]:before {
    display: inline-block;
    font-family: "cmeIcons";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    speak: none;
    /* display: inline-block; */
    color: inherit;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

input, select, textarea {
    font-family: helvetica, arial, sans-serif;
}

.cmeButton {
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    white-space: normal;
    word-wrap: normal;
    -webkit-appearance: none;
}

ul.cmeCheckbox > li > label {
    cursor: pointer;
    line-height: 25px;
    margin-left: 10px;
}

.cmeFullColumnLayout {
    clear: both;
    max-width: 984px;
    width: 100%;
}

.cmeContentColumnLayout {
    float: left;
    margin: 0;
}

.cmeIcon-right-dir:before {
    content: '\e965';
}

#cmeSearchFilters .cmeIcon-right-dir:before, .cmeSearchFilterOpen .cmeIcon-down-dir:before {
    color: #757575;
    font-size: 1em;
    position: relative;
}

[class^="cmeIcon-"]:before, [class*=" cmeIcon-"]:before {
    display: inline-block;
    font-family: "cmeIcons";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    speak: none;
    /* display: inline-block; */
    color: inherit;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}