
body{
  font-family: arial;
}

p{
  margin-bottom: 0 !important;
}

li {
  list-style: none;
}

ul{
  padding: 6px;
}

.coral{
  background-color: coral;
}
.aquamarine{
  background-color: aquamarine;
}
.chocolate{
  background-color: chocolate;
}
.crimson{
  background-color: crimson;
}
.personalizados{
  background-color: cadetblue;
}

.coral:hover,
.aquamarine:hover,
.chocolate:hover,
.crimson:hover,
.personalizados:hover{
  background-color: blue !important;
}

.coral:active,
.aquamarine:active,
.chocolate:active,
.crimson:active,
.personalizados:active{
  background-color: blue !important;
}

.borrarCompra{
  float: right;
}

.loginPosition{
  position: absolute;
  left: 50%;
  margin-left: -23px;
}

#editItem{
  margin-left:30px;
}

#get-users,
#userName,
#userLogin,
#passLogin,
#logoutButton{
  float: right;
}

#demo ul li:last-child input {
  display: none;
}