<!-- addBoliches.html -->
    <div class="jumbotron text-center">
        <h1>Boliches</h1>

        <div>
            Nombre del boliche<input type="text" ng-model="nombre"><br>
            Capacidad<input type="text" ng-model="capacidad"><br>
            Cantidad de Barras<input type="text" ng-model="cantBarras"><br>
            Reservados
            <input type="radio" name="gender" value="true" ng-model="reservados">Si<br>
            <input type="radio" name="gender" value="false" ng-model="reservados">No<br>
            Freepass<input type="text" ng-model="freePass"><br>

            <button ng-click="send()">Registrar Disco</button>
        </div>

    </div> 