<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.js"></script>
        <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <style type="text/css">

            /* Styles for ngAnimate */

            #dolarT.ng-enter {
                transition: 2s linear all;
                opacity: 0;
            }

            #dolarT.ng-enter.ng-enter-active {
                opacity: 1;
            }

            #allProducts.ng-enter {
                transition: 2s linear all;
                opacity: 0;
            }

            #allProducts.ng-enter.ng-enter-active {
                opacity: 1;
            }

            /* Styles for ngClass */

            .blue {
                background-color: blue;
                color: #fff;
            }

            .green {
                background-color: green;
                color: #fff;
            }

            .red {
                background-color: red;
                color: #fff;
            }

            /* Small style changes */

            #appContanier {
                margin: 15px;
            }

            h3 {
                display:inline-block;
                margin: 10px 10px 10px 0;
            }

        </style>
    </head>
    <body>

        <div ng-app="mercadoLibreApp" id="appContanier"> 

            <header-mercadolibre buttona="Start" buttonb="About us" buttonc="Logout"></header-mercadolibre>

            <h1>{{welcome | uppercase}}</h1>
            <h3>{{todayDate | date : 'fullDate'}}</h3>

            <div ng-controller="dolarToday">
                <div ng-if="dolarSuccess" id="dolarT">
                    <h3>{{dolarLibre | currency}}</h3>
                    <h3>{{dolarBlue | currency}}</h3>
                </div>
            </div>

            <div ng-controller="login">
                <input type="text" name="user" ng-model="userName"/>
                <button ng-click="getUserName(userName)">Login</button>
                <p>{{userName | validateChar}}</p>
            </div>

            <div ng-controller="filter">
                <input id="filterInput" type="text" name="user" ng-disabled="enableInput"/>
                <button id="filterButton" ng-disabled="enableInput">Filter</button>
                <div ng-if="filterActive">Acabas de filtrar: {{fiterValue}}</div>
            </div>

            <div ng-controller="apiCall">
                <input type="text" name="search" ng-model="post.postId"/>
                <button ng-click="getById(post.postId)">Search</button>
                <p>{{post.postId | validateChar}}</p>

                <div>{{newValueAdded}}</div>

                <div ng-if="productsSuccess" ng-repeat="product in products | orderBy:'title'" id="allProducts" ng-class="colorBack">
                    <h2>{{product.title}}</h2>
                    <p>{{product.price | currency}}</p>
                    <h4>Cantidad Vendido: {{product.sold_quantity}}</h4>
                </div>
                <div ng-show="productsSuccess">
                    <pagination 
                        ng-model="currentPage"
                        total-items="totalItems"
                        max-size="maxSize"  
                        boundary-links="true">
                    </pagination>
                </div>
            </div>

            <div ng-controller="redirect">
                <a href="{{urlRedirect}}">Redirect to: {{urlRedirect}}</a>
            </div>

        </div>

        <script>

        var app = angular.module('mercadoLibreApp', ['ngAnimate','ui.bootstrap']);

            app.run(function($rootScope) {
                $rootScope.username;
                $rootScope.welcome = 'Welcome!';
                $rootScope.todayDate = Date.now();
            });


            app.config(function ($provide) {

                $provide.provider("API_PRODUCTS", function () {
                    this.$get = function () {
                        return {
                            api: "https://api.mercadolibre.com/sites/MLA/search?q="
                        };
                    };
                });

                $provide.provider("API_DOLAR", function () {
                    this.$get = function () {
                        return {
                            api: "http://ws.geeklab.com.ar/dolar/get-dolar-json.php"
                        };
                    };
                });
            });


            app.filter('validateChar', function() {
              return function(input) {
                 var validate = /[^a-zA-Z0-9\-\/]/.test(input);
                 if (validate) {
                   return 'Not a valida character';
                 }
              }
            });


            app.component("headerMercadolibre",{
                template: "<h3>{{menu.myName}} -</h3><h3>{{menu.buttona}} -</h3><h3>{{menu.buttonb}} -</h3><h3>{{menu.buttonc}}</h3>",
                bindings: { 
                    buttona: '@',
                    buttonb: '@',
                    buttonc: '@'
                },
                controller: function(){
                    var vm = this;
                    vm.$onInit = function() {
                        vm.myName = 'User';
                    }
                },
                controllerAs:'menu'
            });


            app.factory('dataClass', function() {
                return {
                    items: [],
                    addItem : function(item) {
                        this.items.push(item);
                    },
                    getItems : function() {
                        return this.items;
                    },
                    clearItems : function() {
                        this.items = [];
                    }
                }
            });


            app.controller('apiCall', ['$scope','$http','$rootScope', 'dataClass', 'API_PRODUCTS', function($scope, $http, $rootScope, dataClass, API_PRODUCTS) {

                /* Paginator Vars */
                $scope.currentPage = 1,
                $scope.numPerPage = 10,
                $scope.maxSize = 8;
                /* End of Paginator Vars */

                currentPage = 0,
                searchValue = null,
                $scope.post = { postId: null };

              
                $scope.getById = function (id) {
                    searchValue = id;
                    makeApiCall(searchValue, currentPage);
                };

                function makeApiCall(searchValue, currentPage) {

                    dataClass.clearItems();

                    $http.get(  API_PRODUCTS.api +
                                searchValue + 
                                "&limit=" + $scope.numPerPage + 
                                "&offset=" + currentPage
                        ).then(function(response) {
                            $scope.searchResult = response.data.results;

                            $scope.colorBack = ($scope.searchResult.length > 0) ? $scope.colorBack = "blue" : $scope.colorBack = "red";

                            $scope.searchResult.forEach(function(result) {
                                dataClass.addItem(result);
                            });

                            $scope.totalItems = response.data.paging.total;
                            $scope.products = dataClass.getItems();
                            $scope.productsSuccess = true;
                            $rootScope.$broadcast('apiCallSuccess'); 
                        });
                }

                $scope.$watch('post.postId', function (newValue, oldValue) {

                    if (newValue === null) { var newValue = 0 }
                    var valueLength = newValue.length;
                    
                    if (valueLength > 0) { 
                        $scope.newValueAdded = "You are entering a new value..." 
                    } else {
                        $scope.newValueAdded = "" 
                    }
                });

                $scope.$watch('currentPage', function(pageChanged) {
                    currentPage = pageChanged -1;
                    if (searchValue !== null) {
                        makeApiCall(searchValue, currentPage);
                    }
                });

            }]);


            app.controller('dolarToday', ['$scope','$http','$interval', 'API_DOLAR', function($scope, $http, $interval, API_DOLAR) {

                function callAtInterval() {
                    $http.get( API_DOLAR.api )
                        .then(function(response) {
                            $scope.dolarLibre = response.data.libre;
                            $scope.dolarBlue = response.data.blue;
                            $scope.dolarSuccess = true;
                        }); 
                }
                callAtInterval();
                $interval(callAtInterval, 100000);
            }]);


            app.controller('login', ['$scope', '$rootScope', function($scope, $rootScope) {
                $scope.getUserName = function (userName) {
                    $rootScope.username = userName;
                    $rootScope.welcome = 'Welcome ' + userName + '!';
                }
            }]);


            app.controller('filter', ['$scope', '$rootScope', function($scope, $rootScope) {
                $scope.enableInput = true;
                $rootScope.$on('apiCallSuccess', function () {
                    $scope.enableInput = false;
                });

                document.getElementById("filterButton").addEventListener('click', function () {

                    var getFilterValue = document.getElementById("filterInput").value;

                    $scope.$apply(function () {
                        $scope.filterActive = true;
                        $scope.fiterValue = getFilterValue;  
                    });
                });
            }]);


            app.controller('redirect', function($scope, $location) {
                $scope.urlRedirect = $location.absUrl() + "?redirectUsers";
            });

        </script>
    </body>
</html>